body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdfdfd;
}

header {
  background: #0C182F;
  color: #B78A0A;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #B78A0A;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover,
header nav ul li a.ativo {
  text-decoration: underline;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.galeria img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form input, form textarea, form button {
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

form button {
  background: #0C182F;
  color: #B78A0A;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #0C182F;
}

footer {
  background: #0C182F;
  color: #B78A0A;
  padding: 15px;
  text-align: center;
}

.servicos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
  gap: 20px; /* espaço entre os quadrantes */
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: #0C182F;
}

.container input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #0C182F;
  color: #B78A0A;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.auth-container button:hover {
  background: #1a2a4a;
}



